{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                New Prediction
            </div>
            <div class="card-body">
                Placeholder
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Predictions
            </div>
            <div class="card-body">
                Placeholder
            </div>
        </div>
    </div>
</div>
{% endblock %}